@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Fredericka+the+Great&family=Noto+Serif+Old+Uyghur&display=swap');
.main{
    &_hat{
        margin: 0 auto;
        max-width: 1420px;
        padding: 25px;
        display: flex;
        flex-wrap: wrap;
        &_title{
            margin: 0 auto;

            &_Dev{
                font-family: 'Alumni Sans Inline One', sans-serif;
                font-family: 'Fredericka the Great', serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 100px;

                color: #ff9900;
            }
            &_big{
                font-family: 'Alumni Sans Inline One', sans-serif;
                font-family: 'Fredericka the Great', serif;
                font-family: 'Noto Serif Old Uyghur', serif;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 80px;
                text-shadow: 4px 4px 6px rgb(118 60 118);
            }
            &_text{
                font-family: 'Alumni Sans Inline One', sans-serif;
                font-family: 'Fredericka the Great', serif;
                font-family: 'Noto Serif Old Uyghur', serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;

                color: rgb(227, 227, 227);
            }
            &_button {
                margin-top: 50px;
                color: #fff;
                border-radius: 15px;
                padding: 10px 25px;
                font-family: Oxanium;
                font-weight: 500;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                 7px 7px 20px 0px rgb(0, 0, 0),
                 4px 4px 5px 0px rgba(0,0,0,.1);
                outline: none;
            }
            &_btn{
                font-family: 'Alumni Sans Inline One', sans-serif;
                font-family: 'Fredericka the Great', serif;
                font-family: 'Noto Serif Old Uyghur', serif;
                font-weight: 600;
                font-size: 14px;
                width: 195px;
                height: 50px;
                margin-left: 0px;
                border: none;
                overflow: hidden;
                background: rgb(251,33,117);
                background: linear-gradient(0deg, rgb(255 0 0 / 0%) 0%, rgb(255 0 139 / 25%) 100%);
                color: #00fdff;
            }
            &_btn:hover {
                  text-decoration: none;
                  color: #fff;
            }
            &_btn:before {
                  position: absolute;
                  content: '';
                  display: inline-block;
                  top: -180px;
                  left: 0;
                  width: 30px;
                  height: 100%;
                  background-color: #171515;
                  animation: shiny-btn1 2s ease-in-out infinite;
            }
            &_btn:hover{
                color: #000000;
                opacity: .7;
            }
            &_btn:active{
                box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
                  inset -4px -4px 6px 0 rgba(255,255,255,.2),
                  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
            }
            @keyframes shiny-btn1 {
                  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
                  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
                  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
                  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
            }
        }
        @media (min-width: 1050px) {
            &_title{
                margin: 0;
            }
        }
        
    }
    &_TrendingGame{
        margin: 0 auto;
        max-width: 1420px;
        padding: 25px;
        margin-top: 0px;
        padding: 10px;

        &_ControlsBlock{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
            &_title{
                font-size: 24px;
                font-family: 'Alumni Sans Inline One', sans-serif;
                font-family: 'Fredericka the Great', serif;
                text-shadow: 4px 2px 4px rgba(255, 0, 179, 0.603);
            }
            &_button {
                color: #fff;
                border-radius: 15px;
                padding: 10px 25px;
                font-family: Oxanium;
                font-weight: 500;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                 box-shadow:inset 2px 2px 2px 0px rgba(252, 0, 185, 0.5),
                 7px 7px 20px 0px rgb(0, 0, 0),
                 4px 4px 5px 0px rgba(0,0,0,.1);
                outline: none;
            }
            &_btn{
                font-family: 'Alumni Sans Inline One', sans-serif;
                font-family: 'Fredericka the Great', serif;
                font-family: 'Noto Serif Old Uyghur', serif;
                font-weight: 600;
                font-size: 14px;
                width: 195px;
                height: 50px;
                margin-left: -10px;
                border: none;
                overflow: hidden;
                background: rgb(251,33,117);
                background: linear-gradient(0deg, rgba(255, 170, 0, 0.012) 0%, rgba(244, 28, 28, 0.001) 100%);
                color: rgb(253, 0, 143);
            }
            &_btn:hover {
                  text-decoration: none;
                  color: #fff;
            }
            &_btn:before {
                  position: absolute;
                  content: '';
                  display: inline-block;
                  top: -180px;
                  left: 0;
                  width: 30px;
                  height: 100%;
                  background-color: #171515;
                  animation: shiny-btn1 2s ease-in-out infinite;
            }
            &_btn:hover{
                color: rgb(11, 204, 225)
            }
            &_btn:active{
                box-shadow:  4px 4px 6px 0 rgba(4, 183, 228, 0.842),
                            -4px -4px 6px 0 rgba(6, 109, 236, 0.2), 
                  inset -4px -4px 6px 0 rgba(255,255,255,.2),
                  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
            }
        }
        &_listGame{
            justify-content: space-around;
            margin-top: 50px;
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
        }
        @media(min-width: 1350px){
            &_listGame{
                justify-content: space-between;
            }
        }
    }
    @media(min-width: 1050px){
        &_TrendingGame{
            margin-top: 150px;
        }
    }
    &_mission{
        margin: 0 auto;
        max-width: 1420px;
        padding: 25px;
        margin-top: 100px;
        &_block{
            margin-top: 80px;
            text-align: center;
            display: block;

            &_about{
                margin-top: 30px;
                text-align: center;
                &_title{
                    font-size: 24px;
                    line-height: 120px;
                    font-family: 'Alumni Sans Inline One', sans-serif;
                    font-family: 'Fredericka the Great', serif;
                }
                &_text{
                    font-family: 'Fredericka the Great', serif;
                    font-size: 20px;
                    line-height: 30px;
                    color: #ffffff;
                    font-weight: 200;
                }
            }
            @media(min-width:1150px){
                &_about{
                    text-align: left;
                    max-width: 635px;
                }
            }
            &_video{
                margin-top: 80px;
                width: 100%;
                height: 350px;
            }
            @media(min-width: 700px){
               &_video{
                width: 70%;
               } 
            }

        }
        @media(min-width: 1150px) {
            &_block{
                gap: 70px;
                margin-top: 0px;
                text-align: left;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            &_video{
                margin-top: 120px;
                width: 100%;
                height: auto;
            }
            
        }
    }
    &_CyberGameHub{
        margin-top: 80px;
        width: 100%;
        height: 100%;
        background: linear-gradient(156deg, rgba(2, 0, 36, 0.355) 0%, rgb(45 58 62 / 29%) 36%, rgba(0, 213, 255, 0.186) 100%);
        padding: 50px;
        
        &_title{
            padding-bottom: 50px;
            font-size: 28px;
            font-family: 'Fredericka the Great', serif;
            text-align: center;
        }
        &_text{
            text-align: center;
            font-family: 'Fredericka the Great', serif;
            font-size: 18px;
            line-height: 35px;

            color: #ff9900;
        }
    }
}